{% extends "Base.jinja2" %}
{% block content %}
    <a href="/home"><h3>Home</h3></a>
{#    <img src="/chart?{{ timestamp }}" />#}
    <img src="https://wtrenker.com/chart?{{ timestamp }}" />
{% endblock %}
